*{
    margin: 5px;
    padding: 5px;
    text-align: center;
}

body{
    background: aquamarine;
}

.menu1{
    background-color: rgb(155, 172, 56);
}

a{
    text-decoration: none;
}

div{
    font-family:'calibri';
    margin-top: 50px;
    border-radius: 10px;
}

.button{
    background: mediumseagreen;
    border-radius: 15px;
}

btn1{
    color: black;
}


